.container__small-card{
  width: 250px;
  margin-bottom: 15px;
}

.container__small-card-content{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.small-card__photo > img {
    display: flex;
  width: 200px;
  min-width: 200px;
  margin-top: 10px;
}

.small-card__title {
  margin: 10px;
  display: flex;
  
}


